html{
    box-sizing: border-box;
}
body{
    margin: 0;
    min-height: 100vh;
    font-family:Georgia, 'Times New Roman', Times, serif;
    display: flex;
    background-image: url(https://images.unsplash.com/photo-1610574010565-f4c089a0e138?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=889&q=80);
    
    justify-content: center;
    background-size: cover;
    align-items: center;
    text-align: center;
    margin: 10px 10px;

    
}
.container{
    background-color: rgba(255, 255, 255, 0.397);
    border-radius: 2rem;
    color: rgb(41, 41, 41);
    box-shadow: 5px 10px 10px black;
    cursor: pointer;
}
h1{
    display: inline-block;
    margin: 0;
    margin-top: 1rem;
    padding: 0;
}
#quoteSection{
    font-size: 2em;
}
h4{
    color: rgb(8, 8, 8);
}
.button{
    display: flex;
    justify-content: space-around;
    margin: 10px 10px;

}
.btn{
    background-color: rgba(8, 63, 16, 0.575);
    color: white;
    box-shadow: 5px 10px 20px black
}
.btn:hover{
    color: rgba(8, 63, 16, 0.575);
    background-color: white;
}
